:root {

    --header-color: #5c5c77;

}

header {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

header a {
    color: var(--header-color);
    font-weight: 800;
    font-size: .75rem;
}

header a:hover {
    color: orange;
    text-decoration: none;
}

header .socials {
    display: inline-block;
    margin-left: .5rem;

}

header .socials a{
    margin-left: .3rem;
    margin-right: .3rem;

}

header .navigation li {
    text-transform: uppercase;
    margin-left:.5rem;
    margin-right:.5rem;
}