:root {

    --font: EXO, sans-serif;
    --font-color: #5c5c77;
    --bg-primary: #ffbc3b;
    --bg-secondary: #1a1a37;
    --bg-grey: #f8f8f8;

}

.btn-hollow {
    position: relative;
    border-color: var(--bg-primary);
    border-width: 1px;
    color: var(--bg-primary);
    z-index: 1;

}

.btn-hollow::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    left: 0%;
    bottom: 10%;
    z-index: -1;
    background: white;
}

.btn-hollow:hover {
    background: var(--bg-primary);
    color: var(--bg-primary);
}

.btn-hollow:hover::before {
    transform: rotate(2deg);
    transition: ease-in .2s;
}

header#top-header {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

header#top-header a {
    color: var(--font-color);
    font-weight: 800;
    font-size: .75rem;
}

header#top-header a:hover {
    color: var(--bg-primary);
    text-decoration: none;
}

header#top-header .socials {
    display: inline-block;
    margin-left: .5rem;

}

header#top-header .socials a {
    margin-left: .3rem;
    margin-right: .3rem;

}

header#top-header .navigation li {
    text-transform: uppercase;
    margin-left: .5rem;
    margin-right: .5rem;
}

#carousel {
    position: relative;
    background: url('images/banner-1.jpg') no-repeat center center;
    background-size: cover;
    height: 700px;
}

#carousel:before {
    background: #1a1a37;
    opacity: .8;
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;

}

#carousel header {
    position: relative;
    background: linear-gradient(to right, transparent 50%, var(--bg-primary) 50%);
}

@media(max-width:992px) {
    #carousel header {
        background: linear-gradient(to right, #1a1a37 70%, var(--bg-primary) 50%);
    }
}

#carousel #navbarSupportedContent ul {
    background: var(--bg-primary);
    padding: 1.1rem;
}


#carousel #navbarSupportedContent a {
    font-size: 1.1rem;
    font-weight: 800;
    color: white;
    margin-left: .75rem;
    margin-right: .75rem;
}

#carousel #carouselId {
    margin-top: 100px;
}

#carousel .carousel-inner {
    width: 70%;
    height: 300px;
}

#carousel .carousel-inner h1 {
    font-weight: 800;
    font-size: 4rem;
    color: white;

}

@media(max-width:768px) {
    #carousel .carousel-inner h1 {
        font-weight: 700;
        font-size: 2.1rem;
        color: white;

    }
}

#carousel .carousel-inner p {
    font-weight: 200;
    font-size: 1rem;
    color: white;
}

#carousel .carousel-inner a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    padding: .5rem 1.2rem .5rem 1.2rem;
    background-color: var(--bg-primary);
}

#carousel .carousel-indicators {
    position: static;
}

#carousel .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    margin-left: 7px;
}

#carousel .carousel-indicators li.active {
    background: var(--bg-primary);
}

#carousel .arrows {
    margin-left: auto;
}

#carousel .arrows a {
    color: rgba(255, 255, 255, .5);
    margin-left: 1rem;
    margin-right: 1rem;
}

#carousel .arrows a:hover {
    color: var(--bg-primary);
}


#features {
    background-color: var(--bg-grey);
}

#features .objectives {
    position: relative;
    top: -100px;
    padding: 5rem;
    background-color: var(--bg-grey);
}

#features .objectives .col-md-6 {
    padding: 1.5rem;
}

#features .objectives i {
    color: var(--bg-primary);
}

#features .objectives h1 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600
}

#about {
    margin-bottom: 5rem;
}

#about .row {
    padding-top: 5rem;
}

#about h1 {
    margin-bottom: 1rem;
    font-family: var(--font);
    font-weight: 800;
}

#about p {
    text-align: justify;
    margin-bottom: 2rem;
    font-family: var(--font);
    color: var(--bg-secondary);
    line-height: 1.9;
}

#about .btn-learn {
    padding: .5rem 2rem .5rem 2rem;
    font-weight: 500;
    font-size: 1.2rem;
}

#courses header p {
    font-weight: 800;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--bg-secondary);
    font-family: var(--font);
    margin-bottom: 0;

}

#courses header .btn-see {
    padding: .3rem 2rem .3rem 2rem;

}


#courses .my-card {
    border: 1px solid #ededf1;
    padding: 0;
    height: 550px;
    margin-bottom: 3rem;
}

#courses .my-card:hover {
    box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15)
}

#courses .card-body {
    padding: 1rem;
}

#courses .card-body a {
    color: var(--bg-secondary);
    text-decoration: none;
}

#courses .card-body a:hover {
    color: var(--bg-primary);
}

#courses .card-body .headline {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--bg-secondary);
    cursor: pointer;
}

#courses .card-body p {
    color: var(--bg-secondary);
}

#courses .card-body button {
    background: var(--bg-primary);
    color: white;
}

.bg {
    background: var(--bg-primary);
}

#training .box {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#training .small-text {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0;
}

#training .big-text {
    color: white;
    font-size: 3rem;
    font-weight: 800;
}

#training .btn-hollow {
    background: var(--bg-primary);
}

#stories {
    background: url('images/success-story.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

@media(max-width:768px) {
    #stories .btn-play {
        margin-left: auto;
        margin-right: auto;
    }

    #stories .story-card {
        margin-left: auto;
        margin-right: auto;
    }
}

#stories .btn-play {
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    background: var(--bg-primary);
    color: white;
}

#stories .btn-play::before {
    content: "";
    position: absolute;
    color: var(--bg-primary);
    z-index: -1;
    top: 10%;
    left: 10%;
    width: 80%;
    border-radius: 80%;
    height: 80%;
}

#stories .btn-play:hover {
    color: var(--bg-primary);
    background: var(--bg-primary);
}

#stories .btn-play:hover:before {
    color: var(--bg-primary);
    background: white;
    transition: easeease-in-out .3s;
}

#events {
    background: var(--bg-grey);
    padding-top: 50px;
    padding-bottom: 50px;
}

#stories .story-card {
    background: white;
    width: 500px;
    color: var(--font-color);
}


#events header p {
    font-weight: 800;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--bg-secondary);
    font-family: var(--font);
    margin-bottom: 0;
    margin-left: .5rem;

}

#events header .btn-see {
    padding: .3rem 2rem .3rem 2rem;

}

#events .my-card {
    border: 1px solid #ededf1;
    padding: 0;
    height: 450px;
    margin-bottom: 3rem;
}

#events .my-card:hover {
    box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15);
}


#events .img-body {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#events .img-body img {
    transition: all .5s ease-in-out;
}

#events .img-body:hover img {
    transform: scale(1.2);
}


#events .date-box {
    background: var(--bg-primary);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    padding: .5rem;
}

#events .date-box .date-day {
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 0;
}

#events .date-box .date-month {
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#events .card-body i {
    color: var(--bg-primary);
    font-size: 1.3rem;
    margin-right: .5rem;
}

#events .card-body .headline {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 1.5rem;
}

#events .card-body .headline:hover {
    color: var(--bg-primary);
}

#instructors .headline{
    padding:.5rem;
    text-transform: capitalize;
}
#instructors .instructor-card {
    border: 1px solid #ededf1;
    height: 530px;
}

#instructors .instructor-card:hover {
    box-shadow: 0px 5px 25px rgba(27, 39, 71, 0.15);
}

#instructors .card-body .instructor-name {
    font-size: 1.5rem;
}
#instructors .card-body .instructor-role{
    font-weight:400;
}
#instructors .card-body a{
    margin-left:.4rem;
    margin-right:.4rem;
    color:var(--bg-secondary);
}
#instructors .card-body a:hover i{
    transition: ease-in-out all 1.5s;
    color:var(--bg-primary);
    transform: rotate(360deg);
}
#news .headline{
    margin-bottom:1.5rem;
}
#news .news-card{
    border:1px solid #ededf1;
    height:480px;
}
#news .news-card:hover{
box-shadow: 0px 5px 25px rgba(27, 39, 71, 0.15);
}
#news .news-body{
    padding:1.1rem;
}
#news .news-body h1{
    font-size:1.5rem;
    font-weight:700;
}
#news .news-body button{
    background:var(--bg-primary);
    color:white;
    padding:.2rem 1rem .2rem 1rem;
}

footer{
    background-color:#182b45;
    color: white;
}

@media(max-width:992px){
    footer img{
        margin-left:auto;
        margin-right:auto;
    }
}

footer .information{
    margin-left:5rem;
    padding:1rem;
}
footer .information i{
    margin-right:.5rem;
    color:var(--bg-primary);
    font-size:1.2rem;
}